[Unit]
Description=My PHP Application
After=network.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/php -S localhost:8000 -t /var/www/my_php_app/
Restart=on-failure

[Install]
WantedBy=multi-user.target

